FDXS/Service References/JCSJData/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1800000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB_JCSJ.Models" />
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_BMZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:BMZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BMZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CKZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CKZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_CKZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CKZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_FDZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FDZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_FDZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FDZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByCond_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByCond" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByCond_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByCondResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGongyingshangs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGongyingshangs" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGongyingshangs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGongyingshangsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaosByCond_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaosByCond" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaosByCond_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaosByCondResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:EditKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaosByMcs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaosByMcs" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaosByMcs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaosByMcsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveKuanhaos_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveKuanhaos" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveKuanhaos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveKuanhaosResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveTiaomas_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTiaomas" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveTiaomas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTiaomasResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditTiaoma_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTiaoma" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditTiaoma_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTiaomaResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByTiaomahaos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByTiaomahaos" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByTiaomahaos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByTiaomahaosResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_HuiyuanZhuce_InputMessage">
    <wsdl:part name="parameters" element="tns:HuiyuanZhuce" />
  </wsdl:message>
  <wsdl:message name="IDataService_HuiyuanZhuce_OutputMessage">
    <wsdl:part name="parameters" element="tns:HuiyuanZhuceResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetHuiyuanByShoujihao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHuiyuanByShoujihao" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetHuiyuanByShoujihao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHuiyuanByShoujihaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetHuiyuanById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHuiyuanById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetHuiyuanById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHuiyuanByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateHuiyuan_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHuiyuan" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateHuiyuan_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHuiyuanResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoXiaoshou_InputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoXiaoshou" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoXiaoshou_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoXiaoshouResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoKucun_FD_InputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoKucun_FD" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoKucun_FD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoKucun_FDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoJinchuhuo_FD_InputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoJinchuhuo_FD" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoJinchuhuo_FD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoJinchuhuo_FDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoKucun_CK_InputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoKucun_CK" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoKucun_CK_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoKucun_CKResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoJinchuhuo_CK_InputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoJinchuhuo_CK" />
  </wsdl:message>
  <wsdl:message name="IDataService_ShangbaoJinchuhuo_CK_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShangbaoJinchuhuo_CKResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CangkufahuoFendian_InputMessage">
    <wsdl:part name="parameters" element="tns:CangkufahuoFendian" />
  </wsdl:message>
  <wsdl:message name="IDataService_CangkufahuoFendian_OutputMessage">
    <wsdl:part name="parameters" element="tns:CangkufahuoFendianResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetFendians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFendians" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetFendians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFendiansResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCangkus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCangkus" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCangkus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCangkusResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetZiJiamengshangs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZiJiamengshangs" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetZiJiamengshangs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZiJiamengshangsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_XiazaiJinhuoShuju_InputMessage">
    <wsdl:part name="parameters" element="tns:XiazaiJinhuoShuju" />
  </wsdl:message>
  <wsdl:message name="IDataService_XiazaiJinhuoShuju_OutputMessage">
    <wsdl:part name="parameters" element="tns:XiazaiJinhuoShujuResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_XiazaiJinhuoShujuFinish_InputMessage">
    <wsdl:part name="parameters" element="tns:XiazaiJinhuoShujuFinish" />
  </wsdl:message>
  <wsdl:message name="IDataService_XiazaiJinhuoShujuFinish_OutputMessage">
    <wsdl:part name="parameters" element="tns:XiazaiJinhuoShujuFinishResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteXiaoshoujilu_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteXiaoshoujilu" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteXiaoshoujilu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteXiaoshoujiluResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteJinchujilu_FD_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJinchujilu_FD" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteJinchujilu_FD_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJinchujilu_FDResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetJMPinpais_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJMPinpais" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetJMPinpais_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJMPinpaisResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_XiugaiKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:XiugaiKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_XiugaiKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:XiugaiKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateTiaoma_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTiaoma" />
  </wsdl:message>
  <wsdl:message name="IDataService_UpdateTiaoma_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTiaomaResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetJiamengshangs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJiamengshangs" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetJiamengshangs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJiamengshangsResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDataService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BMZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/BMZHLogin" message="tns:IDataService_BMZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/BMZHLoginResponse" message="tns:IDataService_BMZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CKZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CKZHLogin" message="tns:IDataService_CKZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CKZHLoginResponse" message="tns:IDataService_CKZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FDZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/FDZHLogin" message="tns:IDataService_FDZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/FDZHLoginResponse" message="tns:IDataService_FDZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetTiaomasByCond">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByCond" message="tns:IDataService_GetTiaomasByCond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByCondResponse" message="tns:IDataService_GetTiaomasByCond_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetGongyingshangs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetGongyingshangs" message="tns:IDataService_GetGongyingshangs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetGongyingshangsResponse" message="tns:IDataService_GetGongyingshangs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetKuanhaosByCond">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetKuanhaosByCond" message="tns:IDataService_GetKuanhaosByCond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetKuanhaosByCondResponse" message="tns:IDataService_GetKuanhaosByCond_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="InsertKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/InsertKuanhao" message="tns:IDataService_InsertKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/InsertKuanhaoResponse" message="tns:IDataService_InsertKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="EditKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EditKuanhao" message="tns:IDataService_EditKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EditKuanhaoResponse" message="tns:IDataService_EditKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="DeleteKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/DeleteKuanhao" message="tns:IDataService_DeleteKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DeleteKuanhaoResponse" message="tns:IDataService_DeleteKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetKuanhaosByMcs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetKuanhaosByMcs" message="tns:IDataService_GetKuanhaosByMcs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetKuanhaosByMcsResponse" message="tns:IDataService_GetKuanhaosByMcs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SaveKuanhaos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveKuanhaos" message="tns:IDataService_SaveKuanhaos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveKuanhaosResponse" message="tns:IDataService_SaveKuanhaos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SaveTiaomas">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveTiaomas" message="tns:IDataService_SaveTiaomas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveTiaomasResponse" message="tns:IDataService_SaveTiaomas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="EditTiaoma">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EditTiaoma" message="tns:IDataService_EditTiaoma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EditTiaomaResponse" message="tns:IDataService_EditTiaoma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetTiaomasByTiaomahaos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByTiaomahaos" message="tns:IDataService_GetTiaomasByTiaomahaos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByTiaomahaosResponse" message="tns:IDataService_GetTiaomasByTiaomahaos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="HuiyuanZhuce">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/HuiyuanZhuce" message="tns:IDataService_HuiyuanZhuce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/HuiyuanZhuceResponse" message="tns:IDataService_HuiyuanZhuce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetHuiyuanByShoujihao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetHuiyuanByShoujihao" message="tns:IDataService_GetHuiyuanByShoujihao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetHuiyuanByShoujihaoResponse" message="tns:IDataService_GetHuiyuanByShoujihao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetHuiyuanById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetHuiyuanById" message="tns:IDataService_GetHuiyuanById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetHuiyuanByIdResponse" message="tns:IDataService_GetHuiyuanById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="UpdateHuiyuan">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/UpdateHuiyuan" message="tns:IDataService_UpdateHuiyuan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UpdateHuiyuanResponse" message="tns:IDataService_UpdateHuiyuan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ShangbaoXiaoshou">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ShangbaoXiaoshou" message="tns:IDataService_ShangbaoXiaoshou_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ShangbaoXiaoshouResponse" message="tns:IDataService_ShangbaoXiaoshou_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ShangbaoKucun_FD">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ShangbaoKucun_FD" message="tns:IDataService_ShangbaoKucun_FD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ShangbaoKucun_FDResponse" message="tns:IDataService_ShangbaoKucun_FD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ShangbaoJinchuhuo_FD">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ShangbaoJinchuhuo_FD" message="tns:IDataService_ShangbaoJinchuhuo_FD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ShangbaoJinchuhuo_FDResponse" message="tns:IDataService_ShangbaoJinchuhuo_FD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ShangbaoKucun_CK">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ShangbaoKucun_CK" message="tns:IDataService_ShangbaoKucun_CK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ShangbaoKucun_CKResponse" message="tns:IDataService_ShangbaoKucun_CK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ShangbaoJinchuhuo_CK">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ShangbaoJinchuhuo_CK" message="tns:IDataService_ShangbaoJinchuhuo_CK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ShangbaoJinchuhuo_CKResponse" message="tns:IDataService_ShangbaoJinchuhuo_CK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="CangkufahuoFendian">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CangkufahuoFendian" message="tns:IDataService_CangkufahuoFendian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CangkufahuoFendianResponse" message="tns:IDataService_CangkufahuoFendian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetFendians">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetFendians" message="tns:IDataService_GetFendians_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetFendiansResponse" message="tns:IDataService_GetFendians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetCangkus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCangkus" message="tns:IDataService_GetCangkus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCangkusResponse" message="tns:IDataService_GetCangkus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetZiJiamengshangs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetZiJiamengshangs" message="tns:IDataService_GetZiJiamengshangs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetZiJiamengshangsResponse" message="tns:IDataService_GetZiJiamengshangs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="XiazaiJinhuoShuju">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/XiazaiJinhuoShuju" message="tns:IDataService_XiazaiJinhuoShuju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/XiazaiJinhuoShujuResponse" message="tns:IDataService_XiazaiJinhuoShuju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="XiazaiJinhuoShujuFinish">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/XiazaiJinhuoShujuFinish" message="tns:IDataService_XiazaiJinhuoShujuFinish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/XiazaiJinhuoShujuFinishResponse" message="tns:IDataService_XiazaiJinhuoShujuFinish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="DeleteXiaoshoujilu">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/DeleteXiaoshoujilu" message="tns:IDataService_DeleteXiaoshoujilu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DeleteXiaoshoujiluResponse" message="tns:IDataService_DeleteXiaoshoujilu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="DeleteJinchujilu_FD">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/DeleteJinchujilu_FD" message="tns:IDataService_DeleteJinchujilu_FD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DeleteJinchujilu_FDResponse" message="tns:IDataService_DeleteJinchujilu_FD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetJMPinpais">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetJMPinpais" message="tns:IDataService_GetJMPinpais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetJMPinpaisResponse" message="tns:IDataService_GetJMPinpais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="XiugaiKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/XiugaiKuanhao" message="tns:IDataService_XiugaiKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/XiugaiKuanhaoResponse" message="tns:IDataService_XiugaiKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="UpdateTiaoma">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/UpdateTiaoma" message="tns:IDataService_UpdateTiaoma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UpdateTiaomaResponse" message="tns:IDataService_UpdateTiaoma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetJiamengshangs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetJiamengshangs" message="tns:IDataService_GetJiamengshangs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetJiamengshangsResponse" message="tns:IDataService_GetJiamengshangs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataService" type="tns:IDataService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BMZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/BMZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CKZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/CKZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FDZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/FDZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiaomasByCond">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetTiaomasByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGongyingshangs">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetGongyingshangs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKuanhaosByCond">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetKuanhaosByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/InsertKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/EditKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/DeleteKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKuanhaosByMcs">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetKuanhaosByMcs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveKuanhaos">
      <soap12:operation soapAction="http://tempuri.org/IDataService/SaveKuanhaos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTiaomas">
      <soap12:operation soapAction="http://tempuri.org/IDataService/SaveTiaomas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTiaoma">
      <soap12:operation soapAction="http://tempuri.org/IDataService/EditTiaoma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiaomasByTiaomahaos">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetTiaomasByTiaomahaos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuiyuanZhuce">
      <soap12:operation soapAction="http://tempuri.org/IDataService/HuiyuanZhuce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuiyuanByShoujihao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetHuiyuanByShoujihao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuiyuanById">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetHuiyuanById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHuiyuan">
      <soap12:operation soapAction="http://tempuri.org/IDataService/UpdateHuiyuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShangbaoXiaoshou">
      <soap12:operation soapAction="http://tempuri.org/IDataService/ShangbaoXiaoshou" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShangbaoKucun_FD">
      <soap12:operation soapAction="http://tempuri.org/IDataService/ShangbaoKucun_FD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShangbaoJinchuhuo_FD">
      <soap12:operation soapAction="http://tempuri.org/IDataService/ShangbaoJinchuhuo_FD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShangbaoKucun_CK">
      <soap12:operation soapAction="http://tempuri.org/IDataService/ShangbaoKucun_CK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShangbaoJinchuhuo_CK">
      <soap12:operation soapAction="http://tempuri.org/IDataService/ShangbaoJinchuhuo_CK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CangkufahuoFendian">
      <soap12:operation soapAction="http://tempuri.org/IDataService/CangkufahuoFendian" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFendians">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetFendians" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCangkus">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetCangkus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZiJiamengshangs">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetZiJiamengshangs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XiazaiJinhuoShuju">
      <soap12:operation soapAction="http://tempuri.org/IDataService/XiazaiJinhuoShuju" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XiazaiJinhuoShujuFinish">
      <soap12:operation soapAction="http://tempuri.org/IDataService/XiazaiJinhuoShujuFinish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteXiaoshoujilu">
      <soap12:operation soapAction="http://tempuri.org/IDataService/DeleteXiaoshoujilu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJinchujilu_FD">
      <soap12:operation soapAction="http://tempuri.org/IDataService/DeleteJinchujilu_FD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJMPinpais">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetJMPinpais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XiugaiKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/XiugaiKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTiaoma">
      <soap12:operation soapAction="http://tempuri.org/IDataService/UpdateTiaoma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJiamengshangs">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetJiamengshangs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="WSHttpBinding_IDataService" binding="tns:WSHttpBinding_IDataService">
      <soap12:address location="http://localhost/JCSJWCF/DataService.svc/wsDataService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/JCSJWCF/DataService.svc/wsDataService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>