FDXS/Service References/JCSJData/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB_JCSJ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB_JCSJ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:ArrayOfTCangku" />
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:ArrayOfTFendian" />
      <xs:element minOccurs="0" name="TGongyingshang" nillable="true" type="tns:ArrayOfTGongyingshang" />
      <xs:element minOccurs="0" name="THuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
      <xs:element minOccurs="0" name="TKuanhao" nillable="true" type="tns:ArrayOfTKuanhao" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUser_Cangku" nillable="true" type="tns:ArrayOfTUser_Cangku" />
      <xs:element minOccurs="0" name="TUser_Fendian" nillable="true" type="tns:ArrayOfTUser_Fendian" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dengluming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jiqima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="juese" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="mima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yonghuming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhuangtai" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUser" nillable="true" type="tns:TUser" />
  <xs:complexType name="ArrayOfTCangku">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangku" nillable="true" type="tns:TCangku" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangku" nillable="true" type="tns:ArrayOfTCangku" />
  <xs:complexType name="TCangku">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuo" nillable="true" type="tns:ArrayOfTCangkuJinchuhuo" />
      <xs:element minOccurs="0" name="TCangkuKucun" nillable="true" type="tns:ArrayOfTCangkuKucun" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="TUser_Cangku" nillable="true" type="tns:ArrayOfTUser_Cangku" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangku" nillable="true" type="tns:TCangku" />
  <xs:complexType name="ArrayOfTCangkuJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuJinchuhuo" nillable="true" type="tns:ArrayOfTCangkuJinchuhuo" />
  <xs:complexType name="TCangkuJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:TCangku" />
      <xs:element minOccurs="0" name="TCangkuJinchuhuoMX" nillable="true" type="tns:ArrayOfTCangkuJinchuhuoMX" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cangkuid" type="xs:int" />
      <xs:element minOccurs="0" name="fangxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fashengshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="laiyuanquxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="oid" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
  <xs:complexType name="ArrayOfTCangkuJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuJinchuhuoMX" nillable="true" type="tns:TCangkuJinchuhuoMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuJinchuhuoMX" nillable="true" type="tns:ArrayOfTCangkuJinchuhuoMX" />
  <xs:complexType name="TCangkuJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinchuhuoid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuJinchuhuoMX" nillable="true" type="tns:TCangkuJinchuhuoMX" />
  <xs:complexType name="TTiaoma">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuoMX" nillable="true" type="tns:ArrayOfTCangkuJinchuhuoMX" />
      <xs:element minOccurs="0" name="TCangkuKucunMX" nillable="true" type="tns:ArrayOfTCangkuKucunMX" />
      <xs:element minOccurs="0" name="TFendianJinchuhuoMX" nillable="true" type="tns:ArrayOfTFendianJinchuhuoMX" />
      <xs:element minOccurs="0" name="TFendianKucunMX" nillable="true" type="tns:ArrayOfTFendianKucunMX" />
      <xs:element minOccurs="0" name="TKuanhao" nillable="true" type="tns:TKuanhao" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="TXiaoshou" nillable="true" type="tns:ArrayOfTXiaoshou" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="chima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gyskuanhao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="kuanhaoid" type="xs:int" />
      <xs:element minOccurs="0" name="shoujia" type="xs:decimal" />
      <xs:element minOccurs="0" name="tiaoma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yanse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TTiaoma" nillable="true" type="tns:TTiaoma" />
  <xs:complexType name="ArrayOfTCangkuKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuKucunMX" nillable="true" type="tns:TCangkuKucunMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuKucunMX" nillable="true" type="tns:ArrayOfTCangkuKucunMX" />
  <xs:complexType name="TCangkuKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuKucun" nillable="true" type="tns:TCangkuKucun" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kucunid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuKucunMX" nillable="true" type="tns:TCangkuKucunMX" />
  <xs:complexType name="TCangkuKucun">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:TCangku" />
      <xs:element minOccurs="0" name="TCangkuKucunMX" nillable="true" type="tns:ArrayOfTCangkuKucunMX" />
      <xs:element minOccurs="0" name="cangkuid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuKucun" nillable="true" type="tns:TCangkuKucun" />
  <xs:complexType name="ArrayOfTFendianJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianJinchuhuoMX" nillable="true" type="tns:TFendianJinchuhuoMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianJinchuhuoMX" nillable="true" type="tns:ArrayOfTFendianJinchuhuoMX" />
  <xs:complexType name="TFendianJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendianJinchuhuo" nillable="true" type="tns:TFendianJinchuhuo" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinchuhuoid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianJinchuhuoMX" nillable="true" type="tns:TFendianJinchuhuoMX" />
  <xs:complexType name="TFendianJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TFendianJinchuhuoMX" nillable="true" type="tns:ArrayOfTFendianJinchuhuoMX" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fangxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fashengshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="laiyuanquxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="oid" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianJinchuhuo" nillable="true" type="tns:TFendianJinchuhuo" />
  <xs:complexType name="TFendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendianJinchuhuo" nillable="true" type="tns:ArrayOfTFendianJinchuhuo" />
      <xs:element minOccurs="0" name="TFendianKucun" nillable="true" type="tns:ArrayOfTFendianKucun" />
      <xs:element minOccurs="0" name="THuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="TUser_Fendian" nillable="true" type="tns:ArrayOfTUser_Fendian" />
      <xs:element minOccurs="0" name="TXiaoshou" nillable="true" type="tns:ArrayOfTXiaoshou" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dangci" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dianming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpxingzhi" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fzleixing" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fzxingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kaidianriqi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="keliuliang" type="xs:short" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mianji" type="xs:short" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yuezu" type="xs:decimal" />
      <xs:element minOccurs="0" name="zhuangtai" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="zhuanrangfei" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendian" nillable="true" type="tns:TFendian" />
  <xs:complexType name="ArrayOfTFendianJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianJinchuhuo" nillable="true" type="tns:TFendianJinchuhuo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianJinchuhuo" nillable="true" type="tns:ArrayOfTFendianJinchuhuo" />
  <xs:complexType name="ArrayOfTFendianKucun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianKucun" nillable="true" type="tns:TFendianKucun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianKucun" nillable="true" type="tns:ArrayOfTFendianKucun" />
  <xs:complexType name="TFendianKucun">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TFendianKucunMX" nillable="true" type="tns:ArrayOfTFendianKucunMX" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianKucun" nillable="true" type="tns:TFendianKucun" />
  <xs:complexType name="ArrayOfTFendianKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianKucunMX" nillable="true" type="tns:TFendianKucunMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianKucunMX" nillable="true" type="tns:ArrayOfTFendianKucunMX" />
  <xs:complexType name="TFendianKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendianKucun" nillable="true" type="tns:TFendianKucun" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kucunid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianKucunMX" nillable="true" type="tns:TFendianKucunMX" />
  <xs:complexType name="ArrayOfTHuiyuan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="THuiyuan" nillable="true" type="tns:THuiyuan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTHuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
  <xs:complexType name="THuiyuan">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="TXiaoshou" nillable="true" type="tns:ArrayOfTXiaoshou" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jfjsshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="jifen" type="xs:decimal" />
      <xs:element minOccurs="0" name="shengri" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shoujihao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xingming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="THuiyuan" nillable="true" type="tns:THuiyuan" />
  <xs:complexType name="ArrayOfTXiaoshou">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TXiaoshou" nillable="true" type="tns:TXiaoshou" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTXiaoshou" nillable="true" type="tns:ArrayOfTXiaoshou" />
  <xs:complexType name="TXiaoshou">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="THuiyuan" nillable="true" type="tns:THuiyuan" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="danjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="huiyuanid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="moling" type="xs:decimal" />
      <xs:element minOccurs="0" name="oid" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
      <xs:element minOccurs="0" name="xiaoshoushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="xiaoshouyuan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhekou" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TXiaoshou" nillable="true" type="tns:TXiaoshou" />
  <xs:complexType name="ArrayOfTUser_Fendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUser_Fendian" nillable="true" type="tns:TUser_Fendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUser_Fendian" nillable="true" type="tns:ArrayOfTUser_Fendian" />
  <xs:complexType name="TUser_Fendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="yonghuid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUser_Fendian" nillable="true" type="tns:TUser_Fendian" />
  <xs:complexType name="TKuanhao">
    <xs:sequence>
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kuanhao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="leixing" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="pinming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TKuanhao" nillable="true" type="tns:TKuanhao" />
  <xs:complexType name="ArrayOfTTiaoma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
  <xs:complexType name="ArrayOfTCangkuKucun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuKucun" nillable="true" type="tns:TCangkuKucun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuKucun" nillable="true" type="tns:ArrayOfTCangkuKucun" />
  <xs:complexType name="ArrayOfTUser_Cangku">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUser_Cangku" nillable="true" type="tns:TUser_Cangku" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUser_Cangku" nillable="true" type="tns:ArrayOfTUser_Cangku" />
  <xs:complexType name="TUser_Cangku">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:TCangku" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="cangkuid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="yonghuid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUser_Cangku" nillable="true" type="tns:TUser_Cangku" />
  <xs:complexType name="ArrayOfTFendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendian" nillable="true" type="tns:TFendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendian" nillable="true" type="tns:ArrayOfTFendian" />
  <xs:complexType name="ArrayOfTGongyingshang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTGongyingshang" nillable="true" type="tns:ArrayOfTGongyingshang" />
  <xs:complexType name="TGongyingshang">
    <xs:sequence>
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
  <xs:complexType name="ArrayOfTKuanhao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TKuanhao" nillable="true" type="tns:TKuanhao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTKuanhao" nillable="true" type="tns:ArrayOfTKuanhao" />
  <xs:complexType name="ArrayOfTHuiyuanZK">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="THuiyuanZK" nillable="true" type="tns:THuiyuanZK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTHuiyuanZK" nillable="true" type="tns:ArrayOfTHuiyuanZK" />
  <xs:complexType name="THuiyuanZK">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jifen" type="xs:decimal" />
      <xs:element minOccurs="0" name="zhekou" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="THuiyuanZK" nillable="true" type="tns:THuiyuanZK" />
</xs:schema>