FDXS/Service References/JCSJData/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1800000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" />
      <xsd:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_BMZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:BMZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BMZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CKZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CKZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_CKZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CKZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_FDZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FDZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_FDZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FDZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHEditPsw_InputMessage">
    <wsdl:part name="parameters" element="tns:BMZHEditPsw" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHEditPsw_OutputMessage">
    <wsdl:part name="parameters" element="tns:BMZHEditPswResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomas" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGongyingshangsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGongyingshangsByUserId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGongyingshangsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGongyingshangsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaosByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaosByUserId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaosByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaosByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:EditKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteKuanhao_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKuanhao" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteKuanhao_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKuanhaoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertGongyingshang_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGongyingshang" />
  </wsdl:message>
  <wsdl:message name="IDataService_InsertGongyingshang_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGongyingshangResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditGongyingshang_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGongyingshang" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditGongyingshang_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGongyingshangResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteGongyingshang_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGongyingshang" />
  </wsdl:message>
  <wsdl:message name="IDataService_DeleteGongyingshang_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGongyingshangResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaoByMc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaoByMc" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetKuanhaoByMc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKuanhaoByMcResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByKuanhaoMc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByKuanhaoMc" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByKuanhaoMc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByKuanhaoMcResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CheckKuanhaosChongfu_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckKuanhaosChongfu" />
  </wsdl:message>
  <wsdl:message name="IDataService_CheckKuanhaosChongfu_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckKuanhaosChongfuResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CheckTiaomaChongfu_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTiaomaChongfu" />
  </wsdl:message>
  <wsdl:message name="IDataService_CheckTiaomaChongfu_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTiaomaChongfuResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveKuanhaos_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveKuanhaos" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveKuanhaos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveKuanhaosResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveTiaomas_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTiaomas" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveTiaomas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTiaomasResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditTiaoma_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTiaoma" />
  </wsdl:message>
  <wsdl:message name="IDataService_EditTiaoma_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTiaomaResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByUpdTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByUpdTime" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByUpdTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByUpdTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByTiaomahaos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByTiaomahaos" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTiaomasByTiaomahaos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTiaomasByTiaomahaosResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDataService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BMZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/BMZHLogin" message="tns:IDataService_BMZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/BMZHLoginResponse" message="tns:IDataService_BMZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CKZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CKZHLogin" message="tns:IDataService_CKZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CKZHLoginResponse" message="tns:IDataService_CKZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FDZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/FDZHLogin" message="tns:IDataService_FDZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/FDZHLoginResponse" message="tns:IDataService_FDZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="BMZHEditPsw">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/BMZHEditPsw" message="tns:IDataService_BMZHEditPsw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/BMZHEditPswResponse" message="tns:IDataService_BMZHEditPsw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetTiaomas">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTiaomas" message="tns:IDataService_GetTiaomas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTiaomasResponse" message="tns:IDataService_GetTiaomas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetGongyingshangsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetGongyingshangsByUserId" message="tns:IDataService_GetGongyingshangsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetGongyingshangsByUserIdResponse" message="tns:IDataService_GetGongyingshangsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetKuanhaosByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetKuanhaosByUserId" message="tns:IDataService_GetKuanhaosByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetKuanhaosByUserIdResponse" message="tns:IDataService_GetKuanhaosByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="InsertKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/InsertKuanhao" message="tns:IDataService_InsertKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/InsertKuanhaoResponse" message="tns:IDataService_InsertKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="EditKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EditKuanhao" message="tns:IDataService_EditKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EditKuanhaoResponse" message="tns:IDataService_EditKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="DeleteKuanhao">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/DeleteKuanhao" message="tns:IDataService_DeleteKuanhao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DeleteKuanhaoResponse" message="tns:IDataService_DeleteKuanhao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="InsertGongyingshang">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/InsertGongyingshang" message="tns:IDataService_InsertGongyingshang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/InsertGongyingshangResponse" message="tns:IDataService_InsertGongyingshang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="EditGongyingshang">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EditGongyingshang" message="tns:IDataService_EditGongyingshang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EditGongyingshangResponse" message="tns:IDataService_EditGongyingshang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="DeleteGongyingshang">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/DeleteGongyingshang" message="tns:IDataService_DeleteGongyingshang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DeleteGongyingshangResponse" message="tns:IDataService_DeleteGongyingshang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetKuanhaoByMc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetKuanhaoByMc" message="tns:IDataService_GetKuanhaoByMc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetKuanhaoByMcResponse" message="tns:IDataService_GetKuanhaoByMc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetTiaomasByKuanhaoMc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByKuanhaoMc" message="tns:IDataService_GetTiaomasByKuanhaoMc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByKuanhaoMcResponse" message="tns:IDataService_GetTiaomasByKuanhaoMc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="CheckKuanhaosChongfu">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CheckKuanhaosChongfu" message="tns:IDataService_CheckKuanhaosChongfu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CheckKuanhaosChongfuResponse" message="tns:IDataService_CheckKuanhaosChongfu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="CheckTiaomaChongfu">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CheckTiaomaChongfu" message="tns:IDataService_CheckTiaomaChongfu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CheckTiaomaChongfuResponse" message="tns:IDataService_CheckTiaomaChongfu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SaveKuanhaos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveKuanhaos" message="tns:IDataService_SaveKuanhaos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveKuanhaosResponse" message="tns:IDataService_SaveKuanhaos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SaveTiaomas">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveTiaomas" message="tns:IDataService_SaveTiaomas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveTiaomasResponse" message="tns:IDataService_SaveTiaomas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="EditTiaoma">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/EditTiaoma" message="tns:IDataService_EditTiaoma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/EditTiaomaResponse" message="tns:IDataService_EditTiaoma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetTiaomasByUpdTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByUpdTime" message="tns:IDataService_GetTiaomasByUpdTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByUpdTimeResponse" message="tns:IDataService_GetTiaomasByUpdTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetTiaomasByTiaomahaos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByTiaomahaos" message="tns:IDataService_GetTiaomasByTiaomahaos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTiaomasByTiaomahaosResponse" message="tns:IDataService_GetTiaomasByTiaomahaos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataService" type="tns:IDataService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BMZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/BMZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CKZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/CKZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FDZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/FDZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMZHEditPsw">
      <soap12:operation soapAction="http://tempuri.org/IDataService/BMZHEditPsw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiaomas">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetTiaomas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGongyingshangsByUserId">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetGongyingshangsByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKuanhaosByUserId">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetKuanhaosByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/InsertKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/EditKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKuanhao">
      <soap12:operation soapAction="http://tempuri.org/IDataService/DeleteKuanhao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGongyingshang">
      <soap12:operation soapAction="http://tempuri.org/IDataService/InsertGongyingshang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGongyingshang">
      <soap12:operation soapAction="http://tempuri.org/IDataService/EditGongyingshang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGongyingshang">
      <soap12:operation soapAction="http://tempuri.org/IDataService/DeleteGongyingshang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKuanhaoByMc">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetKuanhaoByMc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiaomasByKuanhaoMc">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetTiaomasByKuanhaoMc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckKuanhaosChongfu">
      <soap12:operation soapAction="http://tempuri.org/IDataService/CheckKuanhaosChongfu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTiaomaChongfu">
      <soap12:operation soapAction="http://tempuri.org/IDataService/CheckTiaomaChongfu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveKuanhaos">
      <soap12:operation soapAction="http://tempuri.org/IDataService/SaveKuanhaos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTiaomas">
      <soap12:operation soapAction="http://tempuri.org/IDataService/SaveTiaomas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTiaoma">
      <soap12:operation soapAction="http://tempuri.org/IDataService/EditTiaoma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiaomasByUpdTime">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetTiaomasByUpdTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiaomasByTiaomahaos">
      <soap12:operation soapAction="http://tempuri.org/IDataService/GetTiaomasByTiaomahaos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="WSHttpBinding_IDataService" binding="tns:WSHttpBinding_IDataService">
      <soap12:address location="http://localhost/JCSJWCF/DataService.svc/DataService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/JCSJWCF/DataService.svc/DataService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>