FDXS/Service References/JCSJData/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB_JCSJ.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB_JCSJ.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkus" nillable="true" type="tns:ArrayOfTCangku" />
      <xs:element minOccurs="0" name="TFendians" nillable="true" type="tns:ArrayOfTFendian" />
      <xs:element minOccurs="0" name="TGongyingshangs" nillable="true" type="tns:ArrayOfTGongyingshang" />
      <xs:element minOccurs="0" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
      <xs:element minOccurs="0" name="TKuanhaos" nillable="true" type="tns:ArrayOfTKuanhao" />
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="TTiaomas" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUserFendians" nillable="true" type="tns:ArrayOfTUserFendian" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dengluming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jiqima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jmsid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="juese" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="mima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ppsid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yonghuming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhuangtai" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUser" nillable="true" type="tns:TUser" />
  <xs:complexType name="ArrayOfTCangku">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangku" nillable="true" type="tns:TCangku" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangku" nillable="true" type="tns:ArrayOfTCangku" />
  <xs:complexType name="TCangku">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuos" nillable="true" type="tns:ArrayOfTCangkuJinchuhuo" />
      <xs:element minOccurs="0" name="TCangkuKucuns" nillable="true" type="tns:ArrayOfTCangkuKucun" />
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jiqima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangku" nillable="true" type="tns:TCangku" />
  <xs:complexType name="ArrayOfTCangkuJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuJinchuhuo" nillable="true" type="tns:ArrayOfTCangkuJinchuhuo" />
  <xs:complexType name="TCangkuJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:TCangku" />
      <xs:element minOccurs="0" name="TCangkuJinchuhuoMXes" nillable="true" type="tns:ArrayOfTCangkuJinchuhuoMX" />
      <xs:element minOccurs="0" name="TCangkufahuoFendians" nillable="true" type="tns:ArrayOfTCangkufahuoFendian" />
      <xs:element minOccurs="0" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ckid" type="xs:int" />
      <xs:element minOccurs="0" name="fangxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fashengshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jmsid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="laiyuanquxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="picima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="zhekou" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
  <xs:complexType name="ArrayOfTCangkuJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuJinchuhuoMX" nillable="true" type="tns:TCangkuJinchuhuoMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuJinchuhuoMX" nillable="true" type="tns:ArrayOfTCangkuJinchuhuoMX" />
  <xs:complexType name="TCangkuJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="danjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinchuhuoid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuJinchuhuoMX" nillable="true" type="tns:TCangkuJinchuhuoMX" />
  <xs:complexType name="TTiaoma">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuoMXes" nillable="true" type="tns:ArrayOfTCangkuJinchuhuoMX" />
      <xs:element minOccurs="0" name="TCangkuKucunMXes" nillable="true" type="tns:ArrayOfTCangkuKucunMX" />
      <xs:element minOccurs="0" name="TFendianJinchuhuoMXes" nillable="true" type="tns:ArrayOfTFendianJinchuhuoMX" />
      <xs:element minOccurs="0" name="TFendianKucunMXes" nillable="true" type="tns:ArrayOfTFendianKucunMX" />
      <xs:element minOccurs="0" name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
      <xs:element minOccurs="0" name="TKuanhao" nillable="true" type="tns:TKuanhao" />
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="TXiaoshous" nillable="true" type="tns:ArrayOfTXiaoshou" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="chima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gysid" type="xs:int" />
      <xs:element minOccurs="0" name="gyskuanhao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="kuanhaoid" type="xs:int" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
      <xs:element minOccurs="0" name="shoujia" type="xs:decimal" />
      <xs:element minOccurs="0" name="tiaoma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yanse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TTiaoma" nillable="true" type="tns:TTiaoma" />
  <xs:complexType name="ArrayOfTCangkuKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuKucunMX" nillable="true" type="tns:TCangkuKucunMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuKucunMX" nillable="true" type="tns:ArrayOfTCangkuKucunMX" />
  <xs:complexType name="TCangkuKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuKucun" nillable="true" type="tns:TCangkuKucun" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinhuoriqi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="kucunid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuKucunMX" nillable="true" type="tns:TCangkuKucunMX" />
  <xs:complexType name="TCangkuKucun">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:TCangku" />
      <xs:element minOccurs="0" name="TCangkuKucunMXes" nillable="true" type="tns:ArrayOfTCangkuKucunMX" />
      <xs:element minOccurs="0" name="cangkuid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkuKucun" nillable="true" type="tns:TCangkuKucun" />
  <xs:complexType name="ArrayOfTFendianJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianJinchuhuoMX" nillable="true" type="tns:TFendianJinchuhuoMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianJinchuhuoMX" nillable="true" type="tns:ArrayOfTFendianJinchuhuoMX" />
  <xs:complexType name="TFendianJinchuhuoMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendianJinchuhuo" nillable="true" type="tns:TFendianJinchuhuo" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="danjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinchuhuoid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianJinchuhuoMX" nillable="true" type="tns:TFendianJinchuhuoMX" />
  <xs:complexType name="TFendianJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TFendianJinchuhuoMXes" nillable="true" type="tns:ArrayOfTFendianJinchuhuoMX" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fangxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fashengshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="laiyuanquxiang" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="oid" type="xs:int" />
      <xs:element minOccurs="0" name="picima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianJinchuhuo" nillable="true" type="tns:TFendianJinchuhuo" />
  <xs:complexType name="TFendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkufahuoFendians" nillable="true" type="tns:ArrayOfTCangkufahuoFendian" />
      <xs:element minOccurs="0" name="TDiqu" nillable="true" type="tns:TDiqu" />
      <xs:element minOccurs="0" name="TFendianJinchuhuos" nillable="true" type="tns:ArrayOfTFendianJinchuhuo" />
      <xs:element minOccurs="0" name="TFendianKucuns" nillable="true" type="tns:ArrayOfTFendianKucun" />
      <xs:element minOccurs="0" name="THuiyuans" nillable="true" type="tns:ArrayOfTHuiyuan" />
      <xs:element minOccurs="0" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
      <xs:element minOccurs="0" name="TPinpaishangFendians" nillable="true" type="tns:ArrayOfTPinpaishangFendian" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="TUserFendians" nillable="true" type="tns:ArrayOfTUserFendian" />
      <xs:element minOccurs="0" name="TXiaoshous" nillable="true" type="tns:ArrayOfTXiaoshou" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dangci" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dianming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diquid" type="xs:int" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpxingzhi" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fzleixing" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fzxingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jingdu" type="xs:decimal" />
      <xs:element minOccurs="0" name="jiqima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jmsid" type="xs:int" />
      <xs:element minOccurs="0" name="kaidianriqi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="keliuliang" type="xs:short" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mianji" type="xs:short" />
      <xs:element minOccurs="0" name="weidu" type="xs:decimal" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yuezu" type="xs:decimal" />
      <xs:element minOccurs="0" name="zhuangtai" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="zhuanrangfei" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendian" nillable="true" type="tns:TFendian" />
  <xs:complexType name="ArrayOfTCangkufahuoFendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkufahuoFendian" nillable="true" type="tns:TCangkufahuoFendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkufahuoFendian" nillable="true" type="tns:ArrayOfTCangkufahuoFendian" />
  <xs:complexType name="TCangkufahuoFendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuo" nillable="true" type="tns:TCangkuJinchuhuo" />
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="ckjinchuid" type="xs:int" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangkufahuoFendian" nillable="true" type="tns:TCangkufahuoFendian" />
  <xs:complexType name="TDiqu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fdq" nillable="true" type="tns:TDiqu" />
      <xs:element minOccurs="0" name="TFendians" nillable="true" type="tns:ArrayOfTFendian" />
      <xs:element minOccurs="0" name="TJiamengshangs" nillable="true" type="tns:ArrayOfTJiamengshang" />
      <xs:element minOccurs="0" name="TPinpaishangs" nillable="true" type="tns:ArrayOfTPinpaishang" />
      <xs:element minOccurs="0" name="Zdqs" nillable="true" type="tns:ArrayOfTDiqu" />
      <xs:element minOccurs="0" name="fid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lsmingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TDiqu" nillable="true" type="tns:TDiqu" />
  <xs:complexType name="ArrayOfTFendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendian" nillable="true" type="tns:TFendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendian" nillable="true" type="tns:ArrayOfTFendian" />
  <xs:complexType name="ArrayOfTJiamengshang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTJiamengshang" nillable="true" type="tns:ArrayOfTJiamengshang" />
  <xs:complexType name="TJiamengshang">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkuJinchuhuos" nillable="true" type="tns:ArrayOfTCangkuJinchuhuo" />
      <xs:element minOccurs="0" name="TDiqu" nillable="true" type="tns:TDiqu" />
      <xs:element minOccurs="0" name="TFendians" nillable="true" type="tns:ArrayOfTFendian" />
      <xs:element minOccurs="0" name="THuiyuans" nillable="true" type="tns:ArrayOfTHuiyuan" />
      <xs:element minOccurs="0" name="TJiamengGXes" nillable="true" type="tns:ArrayOfTJiamengGX" />
      <xs:element minOccurs="0" name="TJiamengSQs" nillable="true" type="tns:ArrayOfTJiamengSQ" />
      <xs:element minOccurs="0" name="TUsers" nillable="true" type="tns:ArrayOfTUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="daima" type="xs:short" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diquid" type="xs:int" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtyzm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fendianshu" type="xs:short" />
      <xs:element minOccurs="0" name="huiyuanshu" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jchjilushu" type="xs:int" />
      <xs:element minOccurs="0" name="kcjilushu" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pinpaishu" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="xsjilushu" type="xs:int" />
      <xs:element minOccurs="0" name="zhanghaoshu" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="zhuceshouji" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhuceyouxiang" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
  <xs:complexType name="ArrayOfTHuiyuan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="THuiyuan" nillable="true" type="tns:THuiyuan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTHuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
  <xs:complexType name="THuiyuan">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
      <xs:element minOccurs="0" name="TXiaoshous" nillable="true" type="tns:ArrayOfTXiaoshou" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jfjsshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="jifen" type="xs:decimal" />
      <xs:element minOccurs="0" name="jmsid" type="xs:int" />
      <xs:element minOccurs="0" name="shengri" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shoujihao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xingming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="THuiyuan" nillable="true" type="tns:THuiyuan" />
  <xs:complexType name="ArrayOfTXiaoshou">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TXiaoshou" nillable="true" type="tns:TXiaoshou" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTXiaoshou" nillable="true" type="tns:ArrayOfTXiaoshou" />
  <xs:complexType name="TXiaoshou">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="THuiyuan" nillable="true" type="tns:THuiyuan" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="huiyuanid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinhuoriqi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="jinjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="moling" type="xs:decimal" />
      <xs:element minOccurs="0" name="oid" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shoujia" type="xs:decimal" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="xiaoshoushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="xiaoshouyuan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhekou" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TXiaoshou" nillable="true" type="tns:TXiaoshou" />
  <xs:complexType name="ArrayOfTJiamengGX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TJiamengGX" nillable="true" type="tns:TJiamengGX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTJiamengGX" nillable="true" type="tns:ArrayOfTJiamengGX" />
  <xs:complexType name="TJiamengGX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bzmingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jmsid" type="xs:int" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TJiamengGX" nillable="true" type="tns:TJiamengGX" />
  <xs:complexType name="TPinpaishang">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangkus" nillable="true" type="tns:ArrayOfTCangku" />
      <xs:element minOccurs="0" name="TDiqu" nillable="true" type="tns:TDiqu" />
      <xs:element minOccurs="0" name="TGongyingshangs" nillable="true" type="tns:ArrayOfTGongyingshang" />
      <xs:element minOccurs="0" name="TJiamengGXes" nillable="true" type="tns:ArrayOfTJiamengGX" />
      <xs:element minOccurs="0" name="TJiamengSQs" nillable="true" type="tns:ArrayOfTJiamengSQ" />
      <xs:element minOccurs="0" name="TKuanhaos" nillable="true" type="tns:ArrayOfTKuanhao" />
      <xs:element minOccurs="0" name="TPinpaishangFendians" nillable="true" type="tns:ArrayOfTPinpaishangFendian" />
      <xs:element minOccurs="0" name="TTiaomas" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUsers" nillable="true" type="tns:ArrayOfTUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cangkushu" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="daima" type="xs:short" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diquid" type="xs:int" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtyzm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gysshu" type="xs:short" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jchjilushu" type="xs:int" />
      <xs:element minOccurs="0" name="jmsshu" type="xs:short" />
      <xs:element minOccurs="0" name="kcjilushu" type="xs:int" />
      <xs:element minOccurs="0" name="kuanhaoshu" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shoujihao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tiaomashu" type="xs:int" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="youxiang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhanghaoshu" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
  <xs:complexType name="ArrayOfTGongyingshang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTGongyingshang" nillable="true" type="tns:ArrayOfTGongyingshang" />
  <xs:complexType name="TGongyingshang">
    <xs:sequence>
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="TTiaomas" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
  <xs:complexType name="ArrayOfTTiaoma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
  <xs:complexType name="ArrayOfTJiamengSQ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TJiamengSQ" nillable="true" type="tns:TJiamengSQ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTJiamengSQ" nillable="true" type="tns:ArrayOfTJiamengSQ" />
  <xs:complexType name="TJiamengSQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="TJiamengshang" nillable="true" type="tns:TJiamengshang" />
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jieguo" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="jmsid" type="xs:int" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TJiamengSQ" nillable="true" type="tns:TJiamengSQ" />
  <xs:complexType name="ArrayOfTKuanhao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TKuanhao" nillable="true" type="tns:TKuanhao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTKuanhao" nillable="true" type="tns:ArrayOfTKuanhao" />
  <xs:complexType name="TKuanhao">
    <xs:sequence>
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="TTiaomas" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kuanhao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="leixing" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="pinming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
      <xs:element minOccurs="0" name="xingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TKuanhao" nillable="true" type="tns:TKuanhao" />
  <xs:complexType name="ArrayOfTPinpaishangFendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TPinpaishangFendian" nillable="true" type="tns:TPinpaishangFendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTPinpaishangFendian" nillable="true" type="tns:ArrayOfTPinpaishangFendian" />
  <xs:complexType name="TPinpaishangFendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ppsid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPinpaishangFendian" nillable="true" type="tns:TPinpaishangFendian" />
  <xs:complexType name="ArrayOfTUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUser" nillable="true" type="tns:TUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUser" nillable="true" type="tns:ArrayOfTUser" />
  <xs:complexType name="ArrayOfTPinpaishang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TPinpaishang" nillable="true" type="tns:TPinpaishang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTPinpaishang" nillable="true" type="tns:ArrayOfTPinpaishang" />
  <xs:complexType name="ArrayOfTDiqu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TDiqu" nillable="true" type="tns:TDiqu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTDiqu" nillable="true" type="tns:ArrayOfTDiqu" />
  <xs:complexType name="ArrayOfTFendianJinchuhuo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianJinchuhuo" nillable="true" type="tns:TFendianJinchuhuo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianJinchuhuo" nillable="true" type="tns:ArrayOfTFendianJinchuhuo" />
  <xs:complexType name="ArrayOfTFendianKucun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianKucun" nillable="true" type="tns:TFendianKucun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianKucun" nillable="true" type="tns:ArrayOfTFendianKucun" />
  <xs:complexType name="TFendianKucun">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TFendianKucunMXes" nillable="true" type="tns:ArrayOfTFendianKucunMX" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="shangbaoshijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianKucun" nillable="true" type="tns:TFendianKucun" />
  <xs:complexType name="ArrayOfTFendianKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendianKucunMX" nillable="true" type="tns:TFendianKucunMX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendianKucunMX" nillable="true" type="tns:ArrayOfTFendianKucunMX" />
  <xs:complexType name="TFendianKucunMX">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendianKucun" nillable="true" type="tns:TFendianKucun" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
      <xs:element minOccurs="0" name="danjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinhuoriqi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="kucunid" type="xs:int" />
      <xs:element minOccurs="0" name="shuliang" type="xs:short" />
      <xs:element minOccurs="0" name="tiaomaid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendianKucunMX" nillable="true" type="tns:TFendianKucunMX" />
  <xs:complexType name="ArrayOfTUserFendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUserFendian" nillable="true" type="tns:TUserFendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUserFendian" nillable="true" type="tns:ArrayOfTUserFendian" />
  <xs:complexType name="TUserFendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUserFendian" nillable="true" type="tns:TUserFendian" />
  <xs:complexType name="ArrayOfTCangkuKucun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangkuKucun" nillable="true" type="tns:TCangkuKucun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangkuKucun" nillable="true" type="tns:ArrayOfTCangkuKucun" />
</xs:schema>