BIANMA/Service References/JCSJValid/ValidService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="TCangku" nillable="true" type="tns:ArrayOfTCangku" />
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:ArrayOfTFendian" />
      <xs:element minOccurs="0" name="TGongyingshang" nillable="true" type="tns:ArrayOfTGongyingshang" />
      <xs:element minOccurs="0" name="THuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
      <xs:element minOccurs="0" name="TKuanhao" nillable="true" type="tns:ArrayOfTKuanhao" />
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dengluming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jiqima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="juese" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="mima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yonghuming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zhuangtai" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUser" nillable="true" type="tns:TUser" />
  <xs:complexType name="ArrayOfTCangku">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCangku" nillable="true" type="tns:TCangku" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCangku" nillable="true" type="tns:ArrayOfTCangku" />
  <xs:complexType name="TCangku">
    <xs:sequence>
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCangku" nillable="true" type="tns:TCangku" />
  <xs:complexType name="ArrayOfTFendian">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFendian" nillable="true" type="tns:TFendian" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFendian" nillable="true" type="tns:ArrayOfTFendian" />
  <xs:complexType name="TFendian">
    <xs:sequence>
      <xs:element minOccurs="0" name="THuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dangci" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dianming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dpxingzhi" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fzleixing" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fzxingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kaidianriqi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="keliuliang" type="xs:short" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mianji" type="xs:short" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yuezu" type="xs:decimal" />
      <xs:element minOccurs="0" name="zhuangtai" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="zhuanrangfei" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFendian" nillable="true" type="tns:TFendian" />
  <xs:complexType name="ArrayOfTHuiyuan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="THuiyuan" nillable="true" type="tns:THuiyuan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTHuiyuan" nillable="true" type="tns:ArrayOfTHuiyuan" />
  <xs:complexType name="THuiyuan">
    <xs:sequence>
      <xs:element minOccurs="0" name="TFendian" nillable="true" type="tns:TFendian" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fendianid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="shengri" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shoujihao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xingming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="THuiyuan" nillable="true" type="tns:THuiyuan" />
  <xs:complexType name="ArrayOfTGongyingshang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTGongyingshang" nillable="true" type="tns:ArrayOfTGongyingshang" />
  <xs:complexType name="TGongyingshang">
    <xs:sequence>
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dianhua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dizhi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lianxiren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mingcheng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TGongyingshang" nillable="true" type="tns:TGongyingshang" />
  <xs:complexType name="ArrayOfTKuanhao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TKuanhao" nillable="true" type="tns:TKuanhao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTKuanhao" nillable="true" type="tns:ArrayOfTKuanhao" />
  <xs:complexType name="TKuanhao">
    <xs:sequence>
      <xs:element minOccurs="0" name="TTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="beizhu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kuanhao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="leixing" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="pinming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xingbie" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TKuanhao" nillable="true" type="tns:TKuanhao" />
  <xs:complexType name="ArrayOfTTiaoma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TTiaoma" nillable="true" type="tns:TTiaoma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTTiaoma" nillable="true" type="tns:ArrayOfTTiaoma" />
  <xs:complexType name="TTiaoma">
    <xs:sequence>
      <xs:element minOccurs="0" name="TKuanhao" nillable="true" type="tns:TKuanhao" />
      <xs:element minOccurs="0" name="TUser" nillable="true" type="tns:TUser" />
      <xs:element minOccurs="0" name="caozuorenid" type="xs:int" />
      <xs:element minOccurs="0" name="charushijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="chima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gyskuanhao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jinjia" type="xs:decimal" />
      <xs:element minOccurs="0" name="kuanhaoid" type="xs:int" />
      <xs:element minOccurs="0" name="shoujia" type="xs:decimal" />
      <xs:element minOccurs="0" name="tiaoma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xiugaishijian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="yanse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TTiaoma" nillable="true" type="tns:TTiaoma" />
</xs:schema>