BIANMA/Service References/JCSJData/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17841/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" />
  <xs:import schemaLocation="http://localhost:17841/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BMZHLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dlm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tzm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="BMZHLoginResult" nillable="true" type="q1:TUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHEditPsw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="om" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHEditPswResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" type="xs:int" />
        <xs:element minOccurs="0" name="Kuanhao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tiaoma" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="GetTiaomasResult" nillable="true" type="q2:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGongyingshangsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGongyingshangsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="GetGongyingshangsByUserIdResult" nillable="true" type="q3:ArrayOfTGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaosByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaosByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="GetKuanhaosByUserIdResult" nillable="true" type="q4:ArrayOfTKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKuanhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="k" nillable="true" type="q5:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKuanhaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="InsertKuanhaoResult" nillable="true" type="q6:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKuanhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="k" nillable="true" type="q7:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKuanhaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKuanhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKuanhaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGongyingshang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="g" nillable="true" type="q8:TGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGongyingshangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="InsertGongyingshangResult" nillable="true" type="q9:TGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGongyingshang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="g" nillable="true" type="q10:TGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGongyingshangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGongyingshang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGongyingshangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaoByMc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaoByMcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="GetKuanhaoByMcResult" nillable="true" type="q11:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByKuanhaoMc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByKuanhaoMcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="GetTiaomasByKuanhaoMcResult" nillable="true" type="q12:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKuanhaosChongfu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="khs" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKuanhaosChongfuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckKuanhaosChongfuResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTiaomaChongfu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tms" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTiaomaChongfuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckTiaomaChongfuResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>