BIANMA/Service References/JCSJData/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1800000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17841/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17841/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17841/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_BMZHLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:BMZHLogin" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BMZHLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHEditPsw_InputMessage">
    <wsdl:part name="parameters" element="tns:BMZHEditPsw" />
  </wsdl:message>
  <wsdl:message name="IDataService_BMZHEditPsw_OutputMessage">
    <wsdl:part name="parameters" element="tns:BMZHEditPswResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDataService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BMZHLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/BMZHLogin" message="tns:IDataService_BMZHLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/BMZHLoginResponse" message="tns:IDataService_BMZHLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="BMZHEditPsw">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/BMZHEditPsw" message="tns:IDataService_BMZHEditPsw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/BMZHEditPswResponse" message="tns:IDataService_BMZHEditPsw_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataService" type="tns:IDataService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BMZHLogin">
      <soap12:operation soapAction="http://tempuri.org/IDataService/BMZHLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BMZHEditPsw">
      <soap12:operation soapAction="http://tempuri.org/IDataService/BMZHEditPsw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="WSHttpBinding_IDataService" binding="tns:WSHttpBinding_IDataService">
      <soap12:address location="http://localhost:17841/DataService.svc/DataService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:17841/DataService.svc/DataService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>