BIANMA/Service References/JCSJData/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17841/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" />
  <xs:element name="BMZHLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dlm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tzm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tool.DB.JCSJ" minOccurs="0" name="BMZHLoginResult" nillable="true" type="q1:TUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHEditPsw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="om" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHEditPswResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>