CKGL/Service References/JCSJData/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB_JCSJ" />
  <xs:import schemaLocation="http://localhost/JCSJWCF/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BMZHLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dlm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tzm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="BMZHLoginResult" nillable="true" type="q1:TUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CKZHLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ckid" type="xs:int" />
        <xs:element minOccurs="0" name="tzm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CKZHLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FDZHLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fdid" type="xs:int" />
        <xs:element minOccurs="0" name="tzm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FDZHLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHEditPsw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="om" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMZHEditPswResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" type="xs:int" />
        <xs:element minOccurs="0" name="Kuanhao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tiaoma" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetTiaomasResult" nillable="true" type="q2:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGongyingshangsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGongyingshangsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetGongyingshangsByUserIdResult" nillable="true" type="q3:ArrayOfTGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaosByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaosByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetKuanhaosByUserIdResult" nillable="true" type="q4:ArrayOfTKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKuanhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="k" nillable="true" type="q5:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKuanhaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="InsertKuanhaoResult" nillable="true" type="q6:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKuanhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="k" nillable="true" type="q7:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKuanhaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKuanhao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKuanhaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGongyingshang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="g" nillable="true" type="q8:TGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGongyingshangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="InsertGongyingshangResult" nillable="true" type="q9:TGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGongyingshang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="g" nillable="true" type="q10:TGongyingshang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGongyingshangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGongyingshang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGongyingshangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaoByMc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKuanhaoByMcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetKuanhaoByMcResult" nillable="true" type="q11:TKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByKuanhaoMc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByKuanhaoMcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetTiaomasByKuanhaoMcResult" nillable="true" type="q12:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKuanhaosChongfu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="khs" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKuanhaosChongfuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckKuanhaosChongfuResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTiaomaChongfu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tms" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTiaomaChongfuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckTiaomaChongfuResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKuanhaos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="ks" nillable="true" type="q17:ArrayOfTKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKuanhaosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="SaveKuanhaosResult" nillable="true" type="q18:ArrayOfTKuanhao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTiaomas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="ts" nillable="true" type="q19:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTiaomasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="SaveTiaomasResult" nillable="true" type="q20:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTiaoma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="t" nillable="true" type="q21:TTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTiaomaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByUpdTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="upt_start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="upt_end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByUpdTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetTiaomasByUpdTimeResult" nillable="true" type="q22:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByTiaomahaos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tmhs" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiaomasByTiaomahaosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetTiaomasByTiaomahaosResult" nillable="true" type="q24:ArrayOfTTiaoma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HuiyuanZhuce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="h" nillable="true" type="q25:THuiyuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HuiyuanZhuceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="HuiyuanZhuceResult" nillable="true" type="q26:THuiyuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuiyuanByShoujihao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sjh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuiyuanByShoujihaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetHuiyuanByShoujihaoResult" nillable="true" type="q27:THuiyuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuiyuanById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuiyuanByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetHuiyuanByIdResult" nillable="true" type="q28:THuiyuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHuiyuan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="h" nillable="true" type="q29:THuiyuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHuiyuanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuiyuanZhekous">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHuiyuanZhekousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetHuiyuanZhekousResult" nillable="true" type="q30:ArrayOfTHuiyuanZK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoXiaoshou">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="xss" nillable="true" type="q31:ArrayOfTXiaoshou" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoXiaoshouResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoKucun_FD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="fks" nillable="true" type="q32:ArrayOfTFendianKucunMX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoKucun_FDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoJinchuhuo_FD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="fjcs" nillable="true" type="q33:ArrayOfTFendianJinchuhuo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoJinchuhuo_FDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoKucun_CK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="cks" nillable="true" type="q34:ArrayOfTCangkuKucunMX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoKucun_CKResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoJinchuhuo_CK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="cjcs" nillable="true" type="q35:ArrayOfTCangkuJinchuhuo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShangbaoJinchuhuo_CKResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CangkufahuoFendian">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oid" type="xs:int" />
        <xs:element minOccurs="0" name="fdid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CangkufahuoFendianResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFendians">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFendiansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="GetFendiansResult" nillable="true" type="q36:ArrayOfTFendian" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XiazaiJinhuoShuju">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XiazaiJinhuoShujuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DB_JCSJ" minOccurs="0" name="XiazaiJinhuoShujuResult" nillable="true" type="q37:ArrayOfTCangkuJinchuhuo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>